[Desktop Entry]
Name=SuperGFX
Comment=Switch between GPU modes via supergfxd
Comment[ko]=supergfxd를 이용한 GPU 모드 변경

Icon=applications-system
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_supergfxctl

X-KDE-PluginInfo-Author=Janghyub Seo
X-KDE-PluginInfo-Email=jhyub06@gmail.com
X-KDE-PluginInfo-Name=dev.jhyub.supergfxctl
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://gitlab.com/Jhyub/supergfxctl-plasmoid
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=MPL-2.0
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware
X-Plasma-DBusActivationService=org.supergfxctl.Daemon